# Carpetas y archivos temporales de Android/Gradle
.gradle/
build/
caches/
daemon/
native/
wrapper/
*.lock
Backend/src/main/resources/application.properties
Backend/src/main/resources/application.properties
Backend/src/main/resources/application.properties
